services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: car_service_api
    # This loads the fixed .env from the root
    env_file:
      - ../.env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/car_service?schema=public
    ports:
      - "3000:3000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started

  postgres:
    image: postgres:15
    container_name: car_service_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: car_service
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 15

  redis:
    image: redis:7
    container_name: car_service_redis
    ports:
      - "6379:6379"

volumes:
  postgres_data: